body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #004085;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-form {
    border: 1px solid #ccc;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;

}

button {
    background-color: #004085;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003366;
}

.back-arrow {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.back-arrow:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004085;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    font-size: 14px;
    color: #333;
}

thead {
    border-bottom: 2px solid #004085;
}
